<%= render "layouts/errors", :object => @skill %>

<%= form_for @skill do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= f.label :title, "Title"%>
      <%= f.text_field :title, size: 35 %>
    </div>
    <div class="col-md-6">
    <%= f.label :example, "Example" %>
    <%= f.text_area :example, size: "40x10"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.submit "Update or Add Skill" %>
    </div>
  </div>
</div>
<% end %>
<hr>

<h4><%= link_to "Go Home", skills_path %></h4>
