<br>
<div class="container">
  <p>Admin: <%= link_to "Edit Skill", edit_skill_path(@skill) %> | <%= link_to "Delete Skill", skill_path, :data => {
      :confirm => "You sure?", :method => "delete"
    } %></p>
</div>
<hr>

<div class="container">
<h3>Skill: <%= @skill.title %></h3>

<h4>Details: <%= @skill.example %></h4>
</div>

<div class="container">
  <h4><%= link_to "Go Home", skills_path %></h4>
</div>
