<br>
<div class="container">
  <p>Admin: <%= link_to "Edit Skill", edit_skill_path(@skill) %> | <%= link_to "Delete Skill", skill_path, :data => {
      :confirm => "You sure?", :method => "delete"
    } %></p>
</div>
<hr>
<h2>Skill Details</h2>

<div class="container">
<h3><%= @skill.title %></h3>
<br>
<h3 class="details"><%= @skill.example %></h3>
</div>

<hr>
<div class="container">
  <h4><%= link_to "Go Home", skills_path %></h4>
</div>
