<%= render "layouts/errors", :object => @interest %>

<%= form_for @interest do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= f.label :heading, "Heading"%>
      <%= f.text_field :heading, size: 35 %>
    </div>
    <div class="col-md-6">
    <%= f.label :body, "Details" %>
    <%= f.text_area :body, size: "40x10"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.submit "Update or Add Interest" %>
    </div>
  </div>
</div>
<% end %>
<hr>
<div class="container">
  <h4><%= link_to "Return to Personal Interests", interests_path %></h4>

  <h4><%= link_to "Go Home", skills_path %></h4>
</div>
