<!DOCTYPE html>
<html>
  <head>
    <title>Ron Craig's Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <h4><%= flash[:alert] %></h4>
    <h4><%= flash[:notice] %></h4>
    <%= yield %>
  </body>
</html>
